
body
{
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgba(10, 100, 200, 0.25);
}

hr
{
	color: lightblue;
	display: inline-block;
	text-align: left;
	width: 25em;
}

.addon
{
	color: #0c0c0c;
}

.button
{
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid;
	border-color: #3b6e22 #3b6e22 #2c5115;
	border-color: #223b5e #223b5e #152c51;
	padding: 7px 20px;
	border-radius: 5px;
	background-color: #65a953;/*#5784bf*/
	background-color: #4d7ab5;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	line-height: 1.5px;
	/* box-shadow: inset 0 1px 1px #a4e388; */
	box-shadow: inset 0 1px 1px #8db8f7;
	position: relative;
	outline: none;
}

.button:hover
{
	background: linear-gradient(#648ed0, #4d7aab);
}

.button:active
{
	top: 1px;
}